body {
    min-height: 100vh;
    max-width: 100vw;
    /*padding-top: 14rem;*/
    /*padding-bottom: 10rem;*/
    margin: 0;
}

.warna-abu {
    color: #a3b8bf;
}

.tulisan-merah-terang {
    color: #ff4654;
}

.bg-merah-terang {
    background-color: #ff4653;
}

.warna-merah-tengah {
    color: #b72c3a;
}

.warna-merah-gelap {
    background-color: #5a2225;
}

.warna-krem {
    color: #cfbebc;
}

.warna-item {
    background-color: #0f1722;
}

::placeholder {
    color: #a3b8bf;
}

.pressed-icons:hover {
    opacity: 0.6;
}
