body {
    min-height: 100vh;
    max-width: 100vw;
    /*padding-top: 14rem;*/
    /*padding-bottom: 10rem;*/
    margin: 0;
}

.nav-item-button {
    border-radius: 0.5rem;
}

.nav-item-button:hover {
    background-color: #1f3048;
}

.nav-item-image:hover {
    opacity: 0.7;
}

.active {
    color: #d23d4b;
}

.inactive {
    color: white;
}

.warna-abu {
    color: #D9D9D9;
}

.tulisan-merah-terang {
    color: #ff4654;
}

.tulisan-biru{
    color: #0066FF;
}

.bg-merah-terang {
    background-color: #ff4654;
}

.bg-merah-terang-20 {
    background-color: rgba(255, 70, 84, 0.2);
}

.warna-merah-tengah {
    color: #b72c3a;
}

.warna-merah-gelap {
    background-color: #5a2225;
}

.warna-krem {
    color: #cfbebc;
}

.warna-item {
    background-color: #0f1722;
}

.stroke-putih {
    -webkit-text-stroke: .5px white;
}

::placeholder {
    color: #a3b8bf;
}

.pressed-icons:hover {
    opacity: 0.6;
}

.form-select {
    padding: 0.1rem;
}

.valo-btn a{
    margin: 10px;
    background-color: #FF4654;
    color: black;
    padding: 5px;
    border-radius: 10%;
    text-align: center;
    text-decoration: none;
}

.news-foot{
    color: white;
    background-color: #51090D;
}

.border-abu-25{
    --bs-border-color: #a3b8bf;
    --bs-border-opacity: .25;
}

.border-merah-75{
    background-color: rgba(81, 9, 13, 0.75);
}

.border-merah-20{
    background-color: rgba(255, 70, 84, 0.2);
    color: #FF4654;
    border-color: #FF4654;
}

.score{
    margin-left: 145px;
}

.soft-light{
    background-color: #5a2225;
    mix-blend-mode: soft-light;
}
